# This configuration file contains all configuration options and their
# default values. If you want to change a value, remove the '#' before
# the line which contains the option you want to change.
#
# NOTE:
# Environment variables pass through the command line have a higher
# priority than variables defined in this file
#
# NOTE: YAML config is now preferred. See config.example.yaml
#
####################
# GENERAL SETTINGS #
####################
PODIMO_HOSTNAME="localhost:12104"
PODIMO_BIND_HOST="127.0.0.1:12104"
#PODIMO_PROTOCOL="http"
#PODIMO_PUBLIC_FEEDS=false
# Date format for the latest-episode date on /subscriptions (Go time.Format layout; default 2006-01-02)
#PODIMO_DATE_FORMAT="2006-01-02"

#############
# CREDENTIALS
#############
#PODIMO_LOCAL_CREDENTIALS=false
#PODIMO_EMAIL="mijn_adres@email.com"
#PODIMO_PASSWORD="1234"

###########
# PROXIES #
###########
#PODIMO_HTTP_PROXY="http://localhost"
#PODIMO_ZENROWS_API="API_KEY"
#PODIMO_SCRAPER_API="API_KEY"

###########
# CACHING #
###########
#PODIMO_CACHE_DIR="./cache"
#PODIMO_STORE_TOKENS_ON_DISK=true
#PODIMO_TOKEN_CACHE_TIME=432000
#PODIMO_PODCAST_CACHE_TIME=21600
#PODIMO_HEAD_CACHE_TIME=604800
#PODIMO_BLOCK_LIST_FILE="./.block-list"

#############
# LOGGING   #
#############
#PODIMO_LOG_LEVEL="info"   # slog level: debug, info, warn, warning, error

#############
##  VIDEO  ##
#############
#PODIMO_VIDEO_ENABLED=false
#PODIMO_VIDEO_CHECK_ENABLED=false
#PODIMO_VIDEO_TITLE_SUFFIX=""
